#sidebar{
    width:100px;
    height:100%;
    background-color:purple;
    position:absolute;
    left:0px;
    top:0px;
}

#iconIMG{
    width:100px;
    height:100px;
    filter: invert(100%) saturate(10);
}

#homeIMG{
    width:100px;
    height:100px;
    filter: invert(100%) saturate(10);
}

#sidebarSplit{
    border:1px solid white;
    border-radius: 5px;
    position: sticky;
    left:0px;
    width:75%;
    text-align: center;
}